/* .scorecard__graph {
    position: relative;
}

.scorecard__graph::before {
    content: '';
    display: block;
    background: linear-gradient(#fff0, white);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 10;
} */

.track.progress
{
  stroke: rgb(30 130 175) !important;  /* rgb(37 91 115) */
}

.cAPXWV
{
  color: rgb(30 130 175) !important;  /* rgb(37 91 115) */
}

.daq-thermometer--light__container div
{
  background: rgb(30 130 175) !important;  /* rgb(37 91 115) */
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card6
{
  padding: 5px !important;  
}
#temp_day > div,
#uv_graph > div,
#wind > div,
#humidity > div,

#sunrise_card > div,
#sunset_card > div,

#temp_compare_graph > div,
#humidity_compare_graph > div,

#wind_compare_1 > div,
#wind_compare_2 > div
{
  width: 100% !important;
}
#wind,
#humidity,

#sunrise_card,
#sunset_card
{
  padding: 0px !important;
}
#wind,

#sunrise_card
{
  margin-right: 10px !important;
}
#humidity,

#sunset_card
{
  margin-left: 10px !important;
}
#today_card > div
{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#tabs_content > div > div > div:nth-child(2) > div.col-3
{
  padding-left: 3em !important;
}
#temp_compare_graph > div > div > div,
#humidity_compare_graph > div > div > div
{
  height: 35em !important;
}
#temp_compare_graph
{
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
#humidity_compare_graph
{
  padding-bottom: 2em !important;
}
#wind_compare_1 > div > div > div,
#wind_compare_2 > div > div > div
{
  width: 5em !important;
  width: 100% !important;
}
.dHABtm
{
  font-size: 18px !important;
}
#wind_compare_2 > div > div > div > div.js-plotly-plot > div > div > svg:nth-child(1),
#wind_compare_1 > div > div > div > div.js-plotly-plot > div > div > svg:nth-child(1)
{
  border-radius: 1.3em !important;
}